<div id="toolbar">
  <Div class="containercentre">
    <!--<mat-icon>search</mat-icon>!-->
    <input type="text" id="searchHeader" placeholder="Search..." />
  </Div>

  <div class="flexclass">
    <ul id="startMenu">
      <li (click)="goToProductPage('man')">Man</li>
      <li (click)="goToProductPage('woman')">Woman</li>
      <li (click)="goToProductPage('kids')">Kids</li>
      <li>About</li>
      <li>Contact</li>
    </ul>

    <h1>Online store</h1>
    <div id="pristup">
      <div>
        <h3 (click)="logIn()">Login</h3>
        <h3 (click)="signUp()">SignUp</h3>
      </div>
    </div>
  </div>
</div>
<!--
<mat-toolbar class="header">
  <mat-toolbar-row>
    <input type="text" id="searchHeader" placeholder="Search...">
  </mat-toolbar-row>
  <mat-toolbar-row>
    <ul id="startMenu">
      <li>Man</li>
      <li>Woman</li>
      <li>Kids</li>
      <li>About</li>
      <li>Contact Us</li>
    </ul>
    <h1>Online store</h1>
    <div id="loginSignUpCart">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" >
      <mat-icon>search</mat-icon>
      </button>
      <div id="pristup">
        <h3>Login</h3>
        <h3>SignUp</h3>
      </div>
            <button mat-icon-button class="example-icon" >
      <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar> -->
