<mat-toolbar class="header">
  <mat-toolbar-row>
    <input type="text" id="searchHeader" placeholder="Search...">
  </mat-toolbar-row>
  <mat-toolbar-row>
    <ul id="startMenu">
      <li>Man</li>
      <li>Woman</li>
      <li>Kids</li>
      <li>About</li>
      <li>Contact Us</li>
    </ul>
    <h1>Online store</h1>
    <div id="loginSignUpCart">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" >
      <mat-icon>search</mat-icon>
      </button>
      <div id="pristup">
        <h3>Login</h3>
        <h3>SignUp</h3>
      </div>
            <button mat-icon-button class="example-icon" >
      <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
