<div id="toolbar">
  <div id="main-content-toolbar">
    <div class="flexclass">
      <mat-selection-list [multiple]="false" id="startMenu">
        <mat-list-option (click)="redirectTo('/start')">Home</mat-list-option>
        <mat-list-option (click)="redirectTo('/product-page/all')"
          >All</mat-list-option
        >
        <mat-list-option (click)="redirectTo('/product-page/man')"
          >Man</mat-list-option
        >
        <mat-list-option (click)="redirectTo('/product-page/woman')"
          >Woman</mat-list-option
        >
        <!-- <mat-list-option (click)="redirectTo('/product-page/man')"
          >About</mat-list-option
        >
        <mat-list-option (click)="redirectTo('/product-page/man')"
          >Contact</mat-list-option
        > -->
      </mat-selection-list>

      <h1 (click)="redirectTo('/start')">Online store</h1>
      <div id="pristup">
        <div>
          <div id="container-header-cart">
            <mat-icon
              matBadge="{{productsCount}}"
              matBadgeColor="warn"
              (click)="redirectTo('/cart-page')"
              >shopping_cart</mat-icon
            >
          </div>
          <div *ngIf="!logged" id="login-signup">
            <h3 (click)="redirectTo('/login-page')">Login</h3>
            <h3 (click)="redirectTo('/signup-page')">SignUp</h3>
          </div>
          <div *ngIf="logged" id="logged">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logOut()"> Log Out</button>
              <!-- <button mat-menu-item>Item 2</button> -->
            </mat-menu>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
