#main-content-toolbar{
  width: 1300px;
  margin: auto;
}
.mat-selection-list{
  display: flex;
  width: auto;
}
#startMenu{
  margin-top: 10px;
  width: 300px;
}
#startMenu .mat-list-option{
  font-size: 15px;
  text-align: center !important;
  width: 85px !important;
  color: white;
}

.mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
  color: white !important;
  border-radius: 50px;
}
.flexclass{
  display:flex;
  justify-content: space-between;
  color: white;
}
#toolbar{
  height: 80px;
  background-color: #4E4A45;
  position: relative;
}

#pristup{
  position: relative;
  //right: 100px;
  display: flex;
  justify-content: flex-end;
  // justify-content: space-around;
  width: 300px;
  margin-top: 10px;
}
#pristup div{
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
#container-header-cart{
  width: 50px;
}
#container-header-cart .mat-icon{
  cursor: pointer;
}
#pristup h3{
  cursor: pointer;
  margin-left: 10px;
}
h1{
  cursor: pointer;
}
#logged .mat-icon{
  font-size: 50px;
  text-align: center;
  line-height: 10px;
  margin-right: 60px;
}
