<div id="homepagescreencol">
  <Div class="container">
    <div id="homepage">
      <!--1-->
        <div id="mainpage">
          <img src="..\assets\pocetnaslika.jpg" id="pocetnaslika1" alt="pf1">
          <img src="..\assets\pocetnaslika2.jpg" id="pocetnaslika2" alt="pf2">
          <button id="buy-now">Buy now</button>
        </div>
       <!--2-->
        <div id="mainpage2">
          <div class="man-woman-main">
            <img src="..\assets\manmain.jpg" id="manmain" alt="pf1">
            <div class="content">
              <h3>Dress like real man, show your elegance</h3>
              <button class="button">Chech stuff for man -></button>
            </div>
          </div>
          <div id="proba"></div>
          <div class="man-woman-main">
            <div class="content">
              <h3>Dress like real woman, and show your style</h3>
              <button class="button">Chech stuff for woman -></button>
            </div>
            <img src="..\assets\womanmain.jpg" id="womanmain" alt="pf1">
          </div>
        </div>
      <!--3-->
              <app-best-sell></app-best-sell>

    </div>
  </Div>
</div>
