<div *ngIf="product" id="container-details">
  <img  src="{{product.photo}}" alt="" />
  <div id="container-info">
    <h3>{{ product.title }}</h3>
    <p>{{ product.gender }}</p>
    <p>Size: {{ product.size }}</p>
    <p>Color: {{ product.color }}</p>
    <div id="numberOfProducts">
      <button id="increaseAmount" class="btn" (click)="decrementQuantity()">-</button>
      {{productQuantity}}
      <button id="reduceAmount" class="btn" (click)="incrementQuantity()">+</button>
    </div>
    <button id="addToCart"(click)="addItemToBasket()">Add to Cart</button>
    <p>{{ product.price | currency }}</p>
    <p>{{ product.about }}</p>
  </div>
</div>

<app-best-sell></app-best-sell>
