<div class="product-page-backcolor">
  <div id="zaglavlje-product-page">
    <div id="zaglavlje">
      <h1>{{ nameCollection }} collections</h1>
      <Div class="containercentre">
        <mat-icon>search</mat-icon>
        <input type="text" id="searchHeader" placeholder="Search..." [(ngModel)]="this.params.title"/>
      </Div>

      <div id="sort-container">
        <label>Sort by: &nbsp;</label>
        <select [(ngModel)]="SortbyParam">
          <option value="type">Type of Products</option>
          <option value="price">Price of Products</option>
        </select>
        <button type="button" class="sortbtn" (click)="OnSortDirection()">
          Sort
          <!-- <i *ngif="SortDirection ==='asc'" class="fas fa-sort-aplha-down"></i>
    <i *ngif="SortDirection ==='desc'" class="fas fa-sort-aplha-up"></i> -->
        </button>
      </div>
    </div>
  </div>
  <div class="probaa">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">

        <h3 >Category</h3>
        <mat-selection-list [multiple]="false">
          <mat-list-option (click)="onTypeSelected('shoes')">Shoes</mat-list-option>
          <mat-list-option (click)="onTypeSelected('pants')">Pants</mat-list-option>
          <mat-list-option (click)="onTypeSelected('shirt')">Shirts</mat-list-option>
          <mat-list-option (click)="onTypeSelected('hat')">Hats</mat-list-option>
        </mat-selection-list>

        <h3>Price</h3>
        <mat-selection-list [multiple]="false">
          <mat-list-option (click)="onPriceSelected('1')">0-5$</mat-list-option>
          <mat-list-option (click)="onPriceSelected('2')">6-10$</mat-list-option>
          <mat-list-option (click)="onPriceSelected('3')">11-20$</mat-list-option>
          <mat-list-option (click)="onPriceSelected('4')">21-30$</mat-list-option>
          <mat-list-option (click)="onPriceSelected('5')">>30$</mat-list-option>
      </mat-selection-list>

        <h3>Weather</h3>
        <mat-selection-list [multiple]="false">
          <mat-list-option (click)="onWeatherSelected('summer')">Summer</mat-list-option>
          <mat-list-option  (click)="onWeatherSelected('winter')">Winter</mat-list-option>
       </mat-selection-list>

        <h3>Color</h3>
        <mat-selection-list [multiple]="false">
          <mat-list-option (click)="onColorSelected('blue')">Blue</mat-list-option>
          <mat-list-option  (click)="onColorSelected('red')">Red</mat-list-option>
          <mat-list-option (click)="onColorSelected('white')">White</mat-list-option>
          <mat-list-option  (click)="onColorSelected('black')">Black</mat-list-option>
          <mat-list-option (click)="onColorSelected('green')">Green</mat-list-option>
          <mat-list-option  (click)="onColorSelected('brown')">Brown</mat-list-option>
        </mat-selection-list>

        <button class="delete-filters" (click)="deleteFilters()">
          Delete filters
        </button>
      </mat-drawer>

      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          <!-- Filter -->
          <mat-icon>filter_alt</mat-icon>
        </button>
        <div class="container">
          <div
            class="product-card"
            *ngFor="
              let item of products
                | filter: this.params.type:'type'
                | filter: this.params.Price:'price'
                | filter: this.params.color:'color'
                | filter: this.params.weather:'weather'
                | filter: this.genderParam:'gender'
                | filter: this.params.title:'title'
                | sort: [SortbyParam, SortDirection]
            "
          >
            <div class="container-photo">
              <img src="{{ item.photo }}" alt="{{ item.title }}" />
            </div>
            <div class="info-photo">
              <h3>{{ item.title }}</h3>
              <p>{{ item.price | currency }}</p>
            </div>
            <div class="containerbtn">
              <button class="btn" (click)="addToCart(item)">
                Add to cart
              </button>
              <button class="btn" (click)="goToDetails(item.id)">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>

    </mat-drawer-container>
  </div>
</div>
