.product-page-backcolor{
  background-color: #CECECE;
}
.probaa{
  width: 1300px;
margin: auto;
}

#zaglavlje-product-page{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #646464;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
#zaglavlje{
  display: flex;
  width: 1300px;
  margin: auto;
}
#sort-container{
  background-color: #646464;
  height: 80px;
  border-radius: 11px;
  display: flex;
  align-items: center;
}
#sort-container select{
  width: 200px;
  height: 30px;
  border-radius: 15px;
}
.sortbtn{
  width: 50px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid grey;
}
.sortbtn:hover{
  cursor: pointer;
  background-color: rgb(172, 172, 172);
  color: white;
}
.example-container {
  // width: 100% ;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  background-color: #656160;
  min-height:900px !important;
}
.example-sidenav{
  background: #4E4A45;
  color: white;
  overflow: hidden;
  min-height: 900px !important;
}
.mat-drawer{
  overflow: hidden;
  height: auto;
  min-height: 900px !important;
}
.mat-drawer h3{
  // text-align: center;
  margin-left: 10px;
  margin-bottom: 0px;
}
.mat-button{
  width: 100px;
  min-width: 100px;
  font-size: 12px;
  height:50px;
  background-color: rgb(71, 68, 68);
  color: white;
  padding: auto;
  margin-bottom: 20px;
}
.delete-filters{
  width: 100px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}
// .example-sidenav {
//   padding: 20px;
// }
.mat-list-option{
  color: white;
  height: 30px !important;
  width: 120px !important;
}
.mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
  color: orange;
}
//KARTICA
.container-photo{
  background: white;
}
.container-photo img{
  width: 220px;
  height: 230px;
}

.info-photo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px;
  justify-content: center;
}
.info-photo h3{
  width: 100%;
  text-align: center;
  margin: 0;
}
.info-photo p{
  margin-top: 5px ;
  color: #646464;
  font-style: italic;
}

.containerbtn{
  display: flex;
  align-items: flex-end;
  align-items: flex-end;
  justify-content: center;
}
.btn:hover{
  cursor: pointer;
}
.btn{
  margin-left: 5px;
  width: 100px;
  border-radius: 20px;
  background: #4E4A45;
  color: white;
}
#mainpage3{
  height: 470px;
  width: 100%;
  background-color: #656160;
  overflow: hidden;
}
#mainpage3 h1{
  width: 100%;
  height: 50px;
  background-color: #E0DFDF;
  line-height: 50px;
  padding-left: 10px;
  font-style: italic;
  margin: auto;
}
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.product-card{
  // display: flex;
  // flex-wrap: wrap;
  width: 220px;
  height: 350px;
  margin: 30px;
  overflow: hidden;
  background: #E0DFDF;
  border-radius: 20px;
  border: 1px solid black;
}
#price{
  color: #656160;
  font-style: italic;
  font-size: 14px;
}
.containercentre{
  position: relative;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  margin: auto;
  width:420px;
  height: 40px;
  padding-top: 5px;
  // top: 10px;
  // left: 38%;
}
#searchHeader{
  height: 30px;
  border-radius: 40px;
  border: grey 1px solid;
  // margin: auto;
  width: 400px;
}
.mat-icon{
  height: 30px;
  line-height: 30px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
