<div id="mainpage3">
  <div id="title-container">
    <h1>Best sell</h1>
  </div>
  <div class="container">
    <div class="product-card" *ngFor="let item of products">
      <div class="container-photo">
        <img src="{{ item.photo }}" alt="{{ item.title }}" />
      </div>
      <div class="info-photo">
        <h3>{{ item.title }}</h3>
        <p>{{ item.price | currency }}</p>
      </div>
      <div class="containerbtn">
        <button class="btn" (click)="addToCart(item.id)">Add to cart</button>
        <button class="btn" (click)="goToDetails(item.id)">Details</button>
      </div>
    </div>
  </div>
</div>
