#mainpage3{
  height: 470px;
  width: 1300px;
  margin: auto;
  background-color: #656160;
  overflow: hidden;
  border-top: 1px solid black;
}
#title-container{
  background-color: #E0DFDF;
}
#title-container h1{
  width:1300px;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  font-style: italic;
  margin: auto;
}
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.product-card{
  width: 220px;
  height: 350px;
  margin: 30px;
  overflow: hidden;
  background: #E0DFDF;
  border-radius: 20px;
  border: 1px solid black;
}
#price{
  color: #656160;
  font-style: italic;
  font-size: 14px;
}

.container-photo{
  background: white;
}
.container-photo img{
  width: 220px;
  height: 230px;
}
.info-photo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px;
  justify-content: center;
}
.info-photo h3{
  width: 100%;
  text-align: center;
  margin: 0;
}
.info-photo p{
  margin-top: 5px ;
  color: #646464;
  font-style: italic;
}

.containerbtn{
  display: flex;
  align-items: flex-end;
  align-items: flex-end;
  justify-content: center;
}
.btn:hover{
  cursor: pointer;
}
.btn{
  margin-left: 5px;
  width: 100px;
  border-radius: 20px;
  background: #4E4A45;
  color: white;
}
